/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --page-title-color: #db00ff;
  --theme-menu-color: #ff0070;
  --section-title-color: #ff0070;
  --title-decor-color: #000028;
  --accent-color: #ff0070;
  --button-hover-color: #ff007066;
  --decore-rec-color: #ff0070;
}