/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --title-color: #d800ff;
  --accent-color: #ff0070;
  --menu-color: #ff0070;
  --title-section-color: #ff0070;
  --title-accent-color: #000028;
  --content-color: #f1b2ce;
  --menu-hover-color: #ff007066;
  --header-decoration-color: var(--menu-color);
}
