/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --menu-color: #353430;
  --title-section-color: #353430;
  --title-accent-color: #353430;
  --content-color: #353430;
  --menu-hover-color: #32312d66;
  --header-decoration-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --menu-color: #353430;
    --title-section-color: #353430;
    --title-accent-color: #353430;
    --content-color: #353430;
    --menu-hover-color: #32312d66;
    --header-decoration-color: transparent;
  }
}
