/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --page-title-color: #FFC2E6;
  --theme-menu-color: #353430;
  --section-title-color: #353430;
  --title-decor-color: #353430;
  --accent-color: #FF8DCB;
  --button-hover-color: #32312d66;
  --decore-rec-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --page-title-color: #FFC2E6;
    --section-title-color: #353430;
    --theme-menu-color: #353430;
    --title-decor-color: #353430;
    --accent-color: #FF8DCB;
    --button-hover-color: #32312d66;
    --decore-rec-color: transparent;
  }
}