/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  line-height: 130%;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  margin-bottom: 40px;
  padding: 10px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  width: 70px;
  height: 26px;
  text-align: center;
  color: var(--theme-menu-color);
  background-color: transparent;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--theme-menu-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--theme-menu-color);
}

.page-title {
  font-weight: bold;
  line-height: 82.5%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--page-title-color);
}

.title-decore {
  font-weight: bold;
  color: var(--title-decor-color);
  background-color: var(--accent-color);
}

.header__decor {
  position: absolute;
  top: 11px;
  right: 17px;
  color: var(--decore-rec-color);
  text-transform: uppercase;
}

.header__decor::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: currentColor;
  margin-left: 10px;
  filter: blur(2px);
}

.pattern::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.pattern::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.main {
  width: 100%;
  padding: 0 10px;
}

.main__section {
  margin-bottom: 50px;
}

.main__section-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--section-title-color);
  margin-bottom: 12px;
}

.main__section-content {
  margin-bottom: 20px;
}

.section-title {
  margin-bottom: 10px;
}

.title-advice {
  margin-bottom: 20px;
}

.title-font-lite {
  color: #000028;
  background-color: var(--accent-color);
}

.content-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content-link:hover {
  text-decoration: underline;
}

.content-link:focus {
  outline: none;  
}

.content-link:focus-visible {
  border: 1px solid var(--text-color);
}

.section__image-content {
  width: 100%;
}

.section__image-content:not(:last-child) {
  margin-bottom: 10px;
}

.footer {
  display: flex;
  height: 100vh;
  min-height: 668px;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

@media (width >= 768px) {
  .section-two-columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .main__section {
    margin-bottom: 80px;
  }

  .main__section-content {
    grid-column: 2;
  }

  .header {
    padding: 20px;
    margin-bottom: 60px;
  }

  .header__decor {
    top: 21px;
    right: 27px;
  }

  .pattern::before {
    top: 20px;
    right: 20px;
  }

  .pattern::after {
    bottom: 20px;
    left: 20px;
  }

  .header__description {
    width: 50%;
    justify-self: end;
  }

  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    transform: translateX(-20px);
  }

  .main {
    padding: 0 20px;
  }

  .section-three-columns .main__section-title {
    width: 30%;
  }

  .main__section-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
  }

  .section__image-content {
    margin: 0;
  }

  .section__image-content:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
    height: 100%;
    object-fit: cover;
  }

  .section__image-content:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
    height: 100%;
    object-fit: cover;
  }

  .section__image-content:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
    height: 100%;
    object-fit: cover;
  }

  .section__image-content:nth-child(4) {
    height: 100%;
    object-fit: cover;
  }

  .section__image-content:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
    height: 100%;
    object-fit: cover;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .main__section {
    margin-bottom: 65px;
  }

  .section-three-columns .main__section-title {
    width: 100%;
  }

  .section-three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    column-gap: 20px;
  }

  .section-three-columns .main__section-content {
    grid-column: auto;
    grid-row: 2;
  }
}
