/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  line-height: 130%;
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
}

.pattern::before {
  content: "";
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--menu-color);
  border-inline-end: 1px solid var(--menu-color);
}

.pattern::after {
  content: "";
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--menu-color);
  border-inline-start: 1px solid var(--menu-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  min-height: 26px;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  line-height: 100%;
  color: var(--menu-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-hover-color);
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.page-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83.5%;
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decore {
  font-size: 18px;
  font-weight: 700;
  color: var(--title-accent-color);
  background-color: var(--accent-color);
}

.header__decoration {
  position: absolute;
  inset-inline-end: 16px;
  inset-block-start: 11px;
  color: var(--header-decoration-color);
  text-transform: uppercase;
}

.header__decoration::after {
  content: "";
  display: inline-block;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--header-decoration-color);
  background-color: var(--header-decoration-color);
  margin-inline-start: 14px;
  transform: translate(-30%, -20%);
}

.main {
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section:not(:last-child) {
  margin-block-end: 50px;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--title-section-color);
}

.section__card-title {
  margin-block-end: 10px;
}

.title-regular {
  font-weight: 400;
}

.section__card-content {
  color: var(--content-color);
}

.content-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content-link:focus {
  outline: none;
}

.content-link:focus-visible {
  outline: 1px solid currentColor;
}

.content-link:hover {
  border-block-end: 1px solid currentColor;
}

.section__image {
  gap: 10px;
}

.section__image-content {
  inline-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .pattern::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .pattern::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__title {
    transform: translate(-20px);
  }

  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    justify-self: end;
    inline-size: 50%;
  }

  .header__decoration {
    inset-inline-end: 26px;
    inset-block-start: 21px;
  }

  .main {
    padding: 60px 20px;
  }

  .section:not(:last-child) {
    margin-block-end: 80px;
  }

  .section-faq {
    grid-template-columns: 1fr 2fr;
  }

  .section-faq .section__card {
    grid-column: 2;
  }

  .section-distractions {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }

  .section-distractions .section__card {
    grid-column: 1 / 4;
  }

  .section-faq .section__title {
    grid-row: 1 / 3;
  }

  .section__image {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    gap: 20px;
  }

  .section__image-title {
    grid-row: 1;
    grid-column: 1 / 4;
  }

  .section__image-content:nth-child(2) {
    grid-row: 2;
    grid-column: span 2;
    height: 100%;
    object-fit: cover;
  }

  .section__image-content:nth-child(3) {
    grid-row: 2 / 4;
    grid-column: 3;
    height: 100%;
    object-fit: cover;
  }

  .section__image-content:nth-child(4) {
    grid-row: 3 / 5;
    grid-column: 1;
    height: 100%;
    object-fit: cover;
  }

  .section__image-content:nth-child(5) {
    height: 100%;
    object-fit: cover;
  }

  .section__image-content:nth-child(6) {
    grid-row: 4;
    grid-column: 2 / 4;
    height: 100%;
    object-fit: cover;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section-distractions .section__card {
    grid-column: auto;
    grid-row: 2;
  }
}
